header {
    background: $primary-color;
    color: $secondary-color;

    @include center(flex-end, column);
    p {
        background: rgb(0, 0, 0);
        padding: 20px;
        margin: 10px;
        span {
            background: green;
            color: white;
            font-weight: 700;
            padding: 20px;
            margin: 10px;
        }
    }
}