* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box1 {
    background: greenyellow;
}
.box2 {
    background: tomato;
}
.box3 {
    background: violet;
}

section {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "one one ."
        "one one two"
        "three three three";
}

.box1 {
    grid-area: one;

}
.box2 {
    grid-area: two;

}
.box3 {
    grid-area: three;

}
